<strong> Olá, {{develiryman}}</strong>
<p>The delivery is canceled. Please, see bellow for more details:</p>
<p>
  <strong>Delivery Number:</strong> {{deliveryId}} <br />
  <strong>Date/time:</strong> {{date}} <br />
  <strong>Product:</strong> {{product}} <br />
  <br />
</p>